button{
  width: 30%;
  margin-bottom: 10px;
}

b{
  font-family: Calibri;
  font-size: 24px;
}

textarea{
  width: 100%;
}

pre{
  background-color: #b5d592;
  word-wrap: normal;
  text-align: center;
  height: 300px;
  font-size: 16px;
  font-family: "Comic Sans MS";
}

.align{
  text-align: center
}

.my-button {
  width: 100px;
  height: 50px;
  margin-right: 10px;
  border-radius: 0.5em;
  background-color: #0d7dfd;
  border: none;
  color: white;

  &:hover {
    background-color: #0046bf;
  }

  &:active {
    background-color: #1900bf;
  }
}


