<div style="background-color: #56B8DE">
  <div style="text-align: center">
    <h2 style="text-align: center">Enter you question!</h2>
    <textarea name="text" style="width: 80%;" rows="5"  [(ngModel)]="inMess" ></textarea>
    <br/>
    <button class="btn btn-primary" name="send" (click)="send()">Send</button>
  </div>
  <div class="text-center mt-auto text-lg-start">
    <pre style="background-color: #b5d592; word-wrap: normal; text-align: center" neme="response">{{response}}</pre>
  </div>
</div>
