button{
  width: auto;
  margin-bottom: 10px;
}

span{
  font-size: 22px;
}

textarea{
  background-color:  rgba(68,70,84,1);
  width: 100%;
  color: rgba(236,236,241,1);
}

p{
  background-color:  rgba(68,70,84,1);
  word-wrap: normal;
  text-align: center;
  height: 150px;
  font-size: 16px;
  color: rgba(236,236,241,1);
}

.align{
  text-align: center
}

.my-button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 0.5em;
  background-color: #21221d;
  border: none;
  color: white;

  &:hover {
    background-color: #35383d;
  }

  &:active {
    background-color: #5f605f;
  }
}

