TH {
  text-align: center;
}

.marg {
  margin-right: 5%;
}

.form-check-input:checked {
  background-color: #BDD041;
  //background-image:
  //  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='green'/%3e%3c/svg%3e");
}
