<div class="main-block" style="height: 100vh">
  <div style="padding: 10px">
    Дата:&nbsp; від <input type="date" max="{{data2}}" [(ngModel)]="data">
    &nbsp;до <input class="marg" type="date" min="{{data}}" [(ngModel)]="data2">

    Модель: <select class="marg" [(ngModel)]="filteredModel">
    <option [ngValue]="null" disabled>Select model</option>
    <option *ngFor="let model of models" [ngValue]="model">{{model}}</option>
  </select>

    Шукати: <input class="marg" type="text" [(ngModel)]="searchedText">

    Тільки мої запити:&nbsp;<!--  <input class="marg" type=checkbox [(ngModel)]="checker">-->
    <div class="marg form-check form-switch"
         style="display: inline-block; vertical-align: middle">
      <input class="form-check-input btn-outline"
             type="checkbox"
             [(ngModel)]="checker">
    </div>

    <button class="btn btn-dark"
            name="filter"
            (click)="getFilter()">Фільтрувати
    </button>

  </div>
  <div>
    <table class="table table-bordered border-dark">
      <thead >
      <th>Модель</th>
      <th>Запит</th>
      <th>Відповідь</th>
      <th>Створено</th>
      </thead>
      <tbody>
      <tr  *ngFor="let request of requests
      | paginate:{itemsPerPage: count, currentPage: p}">
        <td> {{request.model}}</td>
        <td> {{request.request}}</td>
        <td> {{request.response}}</td>
        <td> {{request.createdAt|date}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div align="right">
    <style>
      .my-pagination /deep/ .ngx-pagination .current {

        border: 2px solid #5f605f;
      }
    </style>
    <pagination-controls
      class="my-pagination" (pageChange)="p=$event">
    </pagination-controls>

  </div>
</div>
