<div class="btn-block" style="background-color: #BDD041; text-align: center">
  <button class="btn btn-outline-success ui-menu-item " name="chat" (click)="chat()" routerLink="/chat">Chat</button>
  <button class="btn btn-outline-success ui-menu-item " name="history" (click)="history()"  routerLink="/history">History</button>
  <button class="btn btn-outline-success ui-menu-item " name="auth" (click)="auth()" routerLink="/auth" >User profile</button>
  <label name="user" style="margin-left: 50px">{{user}}</label>
</div>
<router-outlet></router-outlet>
