button{
  width: 98%;
}
button:hover {
  background: #353740;
}

.sidebar {
  height: 100%;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 1%;
  background-color: rgba(32,33,35,1);
}
